
pip==25.0.1
tensorflow==2.19.0
scikit-learn==1.4.0
streamlit==1.44.1
matplotlib==3.8.3
seaborn==0.13.2
ultralytics==8.3.0
Pillow==11.1.0
PyYAML==6.0.2
torch==2.6.0
libgl1-mesa-glx
opencv-contrib-python-headles

