numpy==2.0.0
pandas==2.2.1
tensorflow==2.16.1
scikit-learn==1.4.0
opencv-python==4.9.0
matplotlib==3.10.1
seaborn==0.13.2
ultralytics==8.3.107
Pillow==11.1.0
PyYAML==6.0.2
onnx2tf
sng4onnx=1.0.1
onnx-graphsurgeon
ai-edge-litert
sng4onnx
tflite-support